{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'home_holder' %}" class="brand-link">
      <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">ARS COMPANY</span>
    </a>

    <!-- Sidebar -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            {% url 'attendance_holder' as attendance_holder %}
            <a href="{{ attendance_holder }}" class="nav-link {% if request.path == attendance_holder %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Attendance table
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'visual_employee' as visual_employee %}
            <a href="{{ visual_employee }}" class="nav-link {% if request.path == visual_employee %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home
              </p>
            </a>
          </li>

          

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>